.header__lang-link {
color: #ffffff;
text-decoration: underline;
font-family: Inter;
margin-right: 18px;
text-align: right;
font-size: calc(18px + 6 * (100vw / 1280));
line-height: 1.2;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width:768px) {
  .header__lang-link {
    font-size: calc(18px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
  }
}