.place__title {  
max-width: 460px;
max-height: 152px;
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 1.1;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 0;
grid-column: 1/3;
grid-row: 1/1;

}

  @media all and (max-width:1024px) {
      .place__title {
        width: 440px;
      }
    }
    
    @media all and (max-width:768px) {
      .place__title {
        max-width: 340px;
        max-height: 92px;
        font-size: 42px;
        line-height: 46px;
      }
    }
    
    @media all and (max-width:767px) {
      .place__title {
        width: 288px;
        height: 35px;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        margin-right: 16px;
        margin-left: 16px ;       
      }
    }