.place__title {  
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
font-style: normal;
font-weight: 900;
font-size: calc(32px + 40 * (100vw / 1280));
line-height: 1.1;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 0;
grid-column: 1/1;
grid-row: 1/1;

}

@media all and (min-width:1280px) {
  .place__title {
    font-size: 72px;
  }
}


    @media all and (max-width:768px) {
      .place__title {
        font-size: calc(32px + (40 + 40 * 0.7) * ((100vw - 320px) / 1280));
        margin-right: 16px;
        margin-left: 16px ;       
        margin: auto;
      }
    }