.cover__overley {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  margin: auto;
  z-index: 3;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__overley:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

