.photo-grid {
max-width: 1184px;
margin: auto;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, auto);
gap: 16px;
margin-bottom: 92px;
}



  
  @media screen and (max-width:1025px) {
    .photo-grid {
      max-width: 928px;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 88px;
    }
  }
  
  @media screen and (max-width:768px) {
    .photo-grid {
      max-width: 720px;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 88px;
    }
  }

  @media screen and (max-width:425px) {
    .photo-grid {
      max-width: 288px;
      grid-template-columns: 1fr;
      margin-bottom: 64px;
    }
  }