.intro__list {
margin-top: 0;
margin-bottom: 0;
list-style-type: none;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: calc(12px + 0 * (100vw / 1280));
line-height: 1.5;
color: #FFFFFF;
}

@media all and (max-width:767px) {
    .intro__list {
      font-size: calc(12px + (0 + 0 * 0.7) * ((100vw - 320px) / 1280));
    }
  }
  