.cover__subtitle {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: calc(14px + 4 * (100vw / 1280));
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin: auto;
  margin-bottom: 245px;
  z-index: 4;
}


@media all and (max-width: 1024px) {
    .cover__subtitle {
      margin-bottom: 195px;
    }
  }


@media all and (max-width: 768px) {
  .cover__subtitle {
    margin-bottom: 115px;
  }
}

@media all and (max-width: 425px) {
  .cover__subtitle {
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
    margin-bottom: 33px;
  }
}
