.footer__link {
text-decoration: none;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: calc(24px - 8 * (100vw / 1280));
line-height: 1.1;
color: #FFFFFF;
margin-right: 18px;
}

.footer__link:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.footer__link:last-of-type{
margin-right: 0;
}


@media all and (max-width:767px) {
    .footer__link {
        font-size: calc(24px - (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
        margin-bottom: 32px;
    }
    .footer__link:last-of-type{
        margin-bottom: 48px;
        }
}