.lead__title {
font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
font-style: normal;
font-weight: 900;
font-size: calc(40px + 56 * (100vw / 1280));
line-height: 1.1;
text-align: center;
color: #FFFFFF;
margin: auto;
margin-top: 56px;
}

@media all and (min-width: 1280px) {
  .lead__title {
    font-size: 96px;
  }
}

@media screen and (max-width:1280px) {
    .lead__title {
      margin-top: 48px;
    }
  }

  @media screen and (max-width:767px) {
    .lead__title {
font-size: calc(40px + (56 + 56 * 0.7) * ((100vw - 320px) / 1280));

    }
  }