.footer__copyright {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: calc(14px + 0 * (100vw / 1280));
line-height: 16px;
text-align: right;
color: #FFFFFF;
}


@media all and (max-width:767px) {
    .footer__copyright {
        font-size: calc(14px + 0 + 0 * 0.7) * ((100vw - 320px) / 1280);
        text-align: left;
    }
}