.intro {
max-width: 690px;
margin-left: 148px;
margin-right: 442px;
margin-top: 92px;
margin-bottom: 92px;

}



@media all and (max-width:1280px) {
    .intro {
        max-width: 690px;
    }
  }

@media all and (max-width:1024px) {
    .intro {
      max-width: 690px;
      margin-left:  48px;
      margin-right: 280px;
    }
  }
  
  @media all and (max-width:768px) {
    .intro {
        max-width: 720px;
        margin-left:  24px;
        margin-right: 24px;
    }
  }
  
  @media all and (max-width:767px) {
    .intro {
    max-width: 100%;
    margin-left:  16px;
    margin-right: 16px;
    }
  }