.website__url-heading {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: calc(12px + 0 * (100vw / 1280));
line-height: 1;
letter-spacing: 0.2em;
color: #AAAAAA;
}


@media all and (max-width: 768px) {
    .website__url-heading {
        font-size: calc(12px + 0 + 0 * 0.7) * ((100vw - 320px) / 1280);
    }
}