.cover {
  max-width: 1184px;
  max-height: 740px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 92px;

}

@media all and (max-width: 768px) {
  .cover {
    margin-top: 16px;
    margin-bottom: 88px;
  }
}

@media all and (max-width: 425px) {
  .cover {
    margin-top: 16px;
    margin-bottom: 64px;
  }
}
