.cover {
  max-width: 1184px;
  height: 740px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 92px;

}

@media all and (max-width: 1024px) {
  .cover {
    max-height: 640px;
    margin-top: 16px;
    margin-bottom: 88px;
  }
}


@media all and (max-width: 768px) {
  .cover {
    max-height: 480px;
    margin-bottom: 88px;
  }
}

@media all and (max-width: 425px) {
  .cover {
    margin-bottom: 64px;
    max-height: 200px;
  }
}