.cover__title {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
font-style: normal;
font-weight: 900;
font-size: calc(32px + 40 * (100vw / 1280));
line-height: 1.1;
text-align: center;
color: #FFFFFF;
margin: auto;
margin-bottom: 32px;
margin-top: 245px;
}


@media all and (max-width: 1024px) {
    .cover__title {
margin-top: 195px;
    }
}


@media all and (max-width: 768px) {
    .cover__title {
margin-top: 115px;
    }
}


@media all and (max-width: 580px) {
    .cover__title {
font-size: calc(32px + (40 + 40 * 0.7) * ((100vw - 320px) / 1280));
margin-top: 33px;
margin-bottom: 16px;
    }
}