.cover__title {
max-width: 560px;
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 1.1;
text-align: center;
color: #FFFFFF;
margin: auto;
margin-bottom: 32px;
margin-top: 245px;
}


@media all and (max-width: 1024px) {
    .cover__title {
max-width: 560px;
max-height: 152px;
font-size: 72px;
line-height: 1.1;
margin-top: 195px;
    }
}


@media all and (max-width: 768px) {
    .cover__title {
max-width: 560px;
max-height: 152px;
font-size: 72px;
line-height: 1.1;
margin-top: 115px;
    }
}


@media all and (max-width: 767px) {
    .cover__title {
max-width: 288px;
font-size: 32px;
line-height: 1.1;
margin-top: 33px;
    }
}